.toggle-btn{
    background-color: black;
    color:white;
    width:50px;
    height:50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right:20px;
    bottom: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}


.dark{
    background-color: black;
    color: rgb(204, 204, 204);
}


.dark .toggle-btn{
    background-color: white;
    color: black;
}